/* Default behavior (content-box) */
.content-box {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 5px solid black;
    background-color: lightblue;
    font-size: 18px;
    color: black;
    box-sizing: content-box;
}

/* Adjusted sizing */
.border-box {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 5px solid black;
    background-color: lightblue;
    font-size: 18px;
    color: black;
    box-sizing: border-box;
    background-color: lightgreen;
}

.box {
    width: 100px;
    height: 100px;
    background: red;
    animation-name: payal;
    animation-duration: 2s;
    animation-delay: 1s;
    cursor: pointer;
}

@keyframes payal {
    20% {
        background-color: lightpink;
        margin-left: 100px;
    }

    40% {
        background-color: blue;
    }

    60% {
        background-color: lawngreen;
    }

    80% {
        background-color: orange;
    }

    100% {
        background-color: lightseagreen;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 50px;
    gap: 5px;
    width: 200px;

}

.box1 {
    background: blueviolet;
    grid-row: 1 / 3;
    /* Merge row 1 and 2 */
}

.box2 {
    background: lightgreen;
}

.box3 {
    background: orangered;
}

.grid-container1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    width:300px
}

.merged {
    background-color: lightblue;
    grid-column: 1 / 3;
    /* Merge columns 1 and 2 */
}

.box4 {
    background-color: lightgreen;
}

b{
    text-decoration: underline;
    font-size: 18px;
}